# Ignore VS settings folder
.vs/

# Ignore build folders
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore NuGet related cache
project.assets.json
*.nuget.dgspec.json
*.nuget.cache

# OS files
.DS_Store
Thumbs.db